body {
  text-align: center;
  font-family: sans-serif;
}

#container {
  margin: 0 auto;
  width: 80%;
  height: 1000px;
  border: 4px solid black;

  /* Add your CSS Grid styles below this line */
  display: grid;
  /* grid-template-columns: minmax(200px, 500px) minmax(200px, 500px); */
  /* Minmax() with Repeat */
  /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */
  /* grid-template-columns: repeat(3, 1fr); */
}
.box {
  font-size: 1.5rem;
}
